@media screen and (max-width: 768px) {
    .table-rwd thead {
        display: none;
    }

    .table-rwd tbody tr {
        display: block;
        border: 1px solid var(--graffiti-deep-sea);
        margin-bottom: 20px;
    }

    .table-rwd tbody tr td {
        display: block;
        overflow: hidden;
    }

    .table-rwd tbody tr td::before {
        content: attr(data-th) ' : ';
        color: var(--graffiti-blush-pink);
        font-size: 14px;
        font-weight: 900;
        float: left;
        width: 30%;
        text-align: right;
        padding-right: 2em;
    }

    .table-rwd tbody tr td span {
        display: block;
        float: left;
        width: 70%;
    }
}
